.container {
    max-width: 600px;
    background-color: white;
    border-radius: 20px;
    margin: 10px auto;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
    width: 500px;
}

.button {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 10px;
    font-size: 20px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    cursor: pointer;
}

.alertBox {
    border: 1px solid darkred;
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.ldsDualRing {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .ldsDualRing:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #b81f24;
    border-color: #b81f24 transparent #b81f24 transparent;
    animation: ldsDualRing 1.2s linear infinite;
  }
  @keyframes ldsDualRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }